---

# Available Hosting Environments
Environments:
- Name: test
  SQLConfig:
    Driver: postgres
    Host: localhost
    Port: 5432
    Database: test
    User: test
    Password: password

DefaultEnvironment: test
MigrationsDirectory: ./test/postgres/migrations
RollbacksDirectory: ./test/postgres/migrations/rollbacks
