{
	"Environments": [
		{
			"Name": "test",
			"SQLConfig": {
				"Driver": "mysql",
				"Host": "localhost",
				"Port": "3306",
				"Database": "test_db",
				"User": "test_user",
				"Password": ""
			}
		},
		{
			"Name": "dev",
			"SQLConfig": {
				"Driver": "mysql",
				"Host": "localhost",
				"Port": "3306",
				"Database": "test_db",
				"User": "test_user",
				"Password": ""
			}
		},
		{
			"Name": "staging",
			"SQLConfig": {
				"Driver": "mysql",
				"Host": "localhost",
				"Port": "3306",
				"Database": "test_db",
				"User": "test_user",
				"Password": ""
			}
		}
	],
	"MigrationsDirectory": "./migrations",
	"RollbacksDirectory": "./migrations/rollbacks"
}
